<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <%- include('../layout/header') %>
        <main>
            <form action="/addFavorites" method="POST">
                <ul>
                    <li>
                        <input type="hidden" name="id" value="<%=song.id%>">
                        <input type="hidden" name="songName" value="<%= song.title_short %>">
                        <p>
                            <%song.title_short%>
                        </p>
                        <input type="hidden" name="artistImg" value="<%=song.artist_picture %>"><img src="<%=song.artist_picture %>">
                        <input type="hidden" name="artistName" value="<%= song.artist_name %>">
                        <p>
                            <%= song.artist_name %>
                        </p>
                        <input type="hidden" name="lyrics" value=" <%=song.lyrics%>">
                        <p>
                            <%=song.lyrics%>
                        </p>
                        <input type="hidden" name="audio" value="<%=song.previewAudio %>">
                        <audio controls>
                            <source src="<%=song.previewAudio %>" type="audio/mpeg">
                        </audio>
                        <input type="text" name="comment" placeholder="leave your comment here!"> </input>
                        <button type="submit">Add to favorites</button>
                    </li>
                </ul>
            </form>
        </main>
</body>

</html>