<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../layout/head')%>
    <link rel="stylesheet" href="styles/anagheem.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <%- include('../layout/header')%>
        <main>
            <section>
                <% favResults.forEach(value=>{ %>
                    <div>
                        <h3>
                            <%=value.title_short%>
                        </h3>
                        <p>
                            <%=value.artist_name%>
                        </p>
                        <img src="<%=value.artist_picture%>" alt="">
                        <p>
                            <%= value.lyrics%>
                        </p>

                        <audio controls>
                        <source src="<%=value.audio %>" type="audio/mpeg">
                    </audio>
                        <p>
                            <%=value.comment%>
                        </p>


                        <!-- <button onclick="window.location.href = '/details/<%=value.id%>';">View Details</button> -->
                    </div>
                    <form action="/favorites/<%=value.id %>?_method=delete" method="POST">
                        <button>Remove From favorites </button>
                    </form>

                    <form action="/editSong/<%=value.id %>">
                        <button>Update Song Details</button>
                    </form>

                    <%})%>
            </section>
        </main>
        <%-include('../layout/footer')%>
</body>

</html>